<div class="ui center aligned column">
    <div class="ui stackable grid">
        <div class="centered row">

            <div class="ui four wide column">
                <div class="ui dividing header">Mandatory</div>
                <div class="ui basic center aligned segment aspect_mand_attr">Brawn</div>
                <div class="ui basic center aligned segment aspect_mand_attr">Awareness</div>
            </div>

            <div class="ui four wide column">
                <div class="ui dividing header">Optional</div>
                <div class="ui basic center aligned segment aspect_opt_attr">Agility</div>
                <div class="ui basic center aligned segment aspect_opt_attr">Willpower</div>
            </div>

        </div>
    </div>
</div>
