<div class="ui default text"></div>
<div class="ui menu">
    <% @aspects.each do |aspect| %>
    <div class="ui item">
        <span class="ui text"><%= aspect.name %></span>
    </div>
    <% end %>
</div>
