<%#
    locals: {
        <Lifepath::Homeland> homeland
    }
%>

<div id="ChargenHomelandTalent" class="ui center aligned column">
    <input id="ChargenHomelandInputTalent" name="selected_homeland_talent" type="hidden">
    <!-- something goes here for the talent name container -->
    <span class="ui header">Selected talent: </span> <%= homeland.talent.name %>
</div>

<div id="ChargenHomelandLanguage" class="ui center aligned column">
    <input id="ChargenHomelandInputLanguage" name="selected_homeland_language" type="hidden">
    <!-- something goes here for the language container -->
    <span class="ui header">Selected language: </span>
    <div class="">
        <% homeland.languages.each_with_index do |lang, i| %>
        <div class="ui radio checkbox">
            <input name="hl_lang" <%= if i == 0 then 'checked="checked"' end %> type="radio">
            <label><%= lang %></label>
        </div>
        <% end %>
    </div>
</div>
