<div class="ui row" id="aspect_display">
  <h2 class="ui centered header">
    Selected Aspects
  </h2>

  <div class="ui centered cards">

    <div class="ui card" id="aspect1_card">
      <div class="ui top attached content">
        <div class="ui centered header" id="aspect1_card_header"></div>
      </div>

      <div class="ui bottom attached content">
        <div class="ui grid" id="aspect1_attr_grid">

          <div class="ui eight wide column">
            <h3 class="ui centered divided header">Mandatory</h3>
            <div class="ui basic center aligned segment aspect_mand_attr" id="aspect1_mand1"></div>
            <div class="ui basic center aligned segment aspect_mand_attr" id="aspect1_mand2"></div>
          </div>

          <div class="ui eight wide column">
            <h3 class="ui centered divided header">Optional</h3>
            <div class="ui basic center aligned segment aspect_opt_attr" id="aspect1_opt1"></div>
            <div class="ui basic center aligned segment aspect_opt_attr" id="aspect1_opt2"></div>
          </div>

        </div>
      </div>
    </div>

    <div class="ui card" id="aspect2_card">
      <div class="ui top attached content">
        <div class="ui centered header" id="aspect2_card_header"></div>
      </div>

      <div class="ui bottom attached content">
        <div class="ui grid" id="aspect2_attr_grid">

          <div class="ui eight wide column">
            <h3 class="ui centered divided header">Mandatory</h3>
            <div class="ui basic center aligned segment aspect_mand_attr" id="aspect2_mand1"></div>
            <div class="ui basic center aligned segment aspect_mand_attr" id="aspect2_mand2"></div>
          </div>

          <div class="ui eight wide column">
            <h3 class="ui centered divided header">Optional</h3>
            <div class="ui basic center aligned segment aspect_opt_attr" id="aspect2_opt1"></div>
            <div class="ui basic center aligned segment aspect_opt_attr" id="aspect2_opt2"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
