<div class="ui row" id="aspect_attr_disp">
  <table class="ui table">
    <tr>
      <th class="ui vertical_th"><div class="vertical_text"></div></th>

      <th class="ui vertical_th"><div class="vertical_text">AGILITY</div></th>

      <th class="ui vertical_th"><div class="vertical_text">AWARENESS</div></th>

      <th class="ui vertical_th"><div class="vertical_text">BRAWN</div></th>

      <th class="ui vertical_th"><div class="vertical_text">COORDINATION</div></th>

      <th class="ui vertical_th"><div class="vertical_text">INTELLIGENCE</div></th>

      <th class="ui vertical_th"><div class="vertical_text">PERSONALITY</div></th>

      <th class="ui vertical_th"><div class="vertical_text">WILLPOWER</div></th>
    </tr>

    <tr id="aspect_best_row">
      <td>BEST</td>

      <td class="ui selectable aspect_cell_best" id="aspect_agi_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_awa_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_bra_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_coo_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_int_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_per_best">X</td>

      <td class="ui selectable aspect_cell_best" id="aspect_wil_best">X</td>
    </tr>

    <tr>
      <td>WORST</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_agi_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_awa_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_bra_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_coo_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_int_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_per_worst">X</td>

      <td class="ui selectable aspect_cell_worst" id="aspect_wil_worst">X</td>
    </tr>
<!--
    <tr>
      <td>OPTIONAL 1</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>
    </tr>

    <tr>
      <td>OPTIONAL 2</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>

      <td>X</td>
    </tr> -->
  </table>
</div>
