<h1 class="ui centered header aspect" style="padding-top: 3; padding-bottom: 6">ASPECTS</h1>

<div class="ui divider"></div>

<% aspects = Lifepath::Aspect.find_each %>

<div class="ui grid">
  <div class="ui stretched row">

    <!-- =================================================================== -->

    <div class="ui three wide column">
      <div class="ui vertical tabular pointing menu aspect_menu_first">
        <% aspects.each do |aspect| %>
          <a class="ui item tab aspect" data-tab="1:<%= aspect.id %>"><%= aspect.name %></a>
        <% end %>
      </div>
    </div>

    <!-- =================================================================== -->

    <div class="ui three wide column">
      <div class="ui vertical tabular pointing menu aspect_menu_second">
        <% aspects.each do |aspect| %>
          <a class="ui item tab aspect" data-tab="2:<%= aspect.id %>" style="border-left: 0; border-radius: 0"><%= aspect.name %></a>
        <% end %>
      </div>
    </div>

    <!-- =================================================================== -->

    <div class="ui ten wide column aspect_attr_col">

      <div class="ui row" id="aspect_mand_attr">
        <h2 class="ui centered header">
          Mandatory Attributes
          <div class="ui sub header">
            Select one best and one worst attribute, unselected attributes get +2
          </div>
        </h2>

        <div class="ui grid" id="aspect_mand_attr_heads">

          <div class="ui eight wide column">
            <h3 class="ui centered header" id="aspect1_mand_header">$aspect1</h3>
          </div>

          <div class="ui eight wide column">
            <h3 class="ui centered header" id="aspect2_mand_header">$aspect2</h3>
          </div>

        </div>

        <div class="ui grid" id="aspect_mand_attr_sel">

          <div class="ui eight wide column" id="aspect1_mand_attr_sel">
            <div class="ui centered cards">

              <div class="ui card" id="aspect1_mand_attr1">
                <div class="ui top attached content">
                  <div class="ui centered header">$aspect1_attr1</div>
                </div>

                <div class="ui bottom attached content">
                  <div class="ui fluid two buttons">
                    <button class="ui green button">BEST (+3)</button>
                    <button class="ui red button">WORST (+1)</button>
                  </div>
                </div>
              </div>

              <div class="ui card" id="aspect1_mand_attr2">
                <div class="ui top attached content">
                  <div class="ui centered header">$aspect1_attr2</div>
                </div>

                <div class="ui bottom attached content">
                  <div class="ui fluid two buttons">
                    <button class="ui green button">BEST (+3)</button>
                    <button class="ui red button">WORST (+1)</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="ui eight wide column aspect2_mand_attr_sel">
            <div class="ui centered cards">

              <div class="ui card" id="aspect2_mand_attr1">
                <div class="ui top attached content">
                  <div class="ui centered header">$aspect2_attr1</div>
                </div>

                <div class="ui bottom attached content">
                  <div class="ui fluid two buttons">
                    <button class="ui green button">BEST (+3)</button>
                    <button class="ui red button">WORST (+1)</button>
                  </div>
                </div>
              </div>

              <div class="ui card" id="aspect2_mand_attr2">
                <div class="ui top attached content">
                  <div class="ui centered header">$aspect2_attr2</div>
                </div>

                <div class="ui bottom attached content">
                  <div class="ui fluid two buttons">
                    <button class="ui green button">BEST (+3)</button>
                    <button class="ui red button">WORST (+1)</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="ui divider" style="padding: 2px"></div>

      <div class="ui row" id="apsect_opt_attr" style="padding-left: 1em">
        <h2 class="ui centered header">
          Optional Attributes
          <div class="ui sub header">Select two attributes for +1 bonuses</div>
        </h2>

        <div class="ui grid" id="aspect_opt_attr_heads">

          <!-- ============================================================= -->

          <div class="ui eight wide column">
            <h3 class="ui centered header" id="aspect1_opt_header">$aspect1</h3>
          </div>

          <!-- ============================================================= -->

          <div class="ui eight wide column">
            <h3 class="ui centered header" id="aspect2_opt_header">$aspect2</h3>
          </div>

        </div>


        <div class="ui grid" id="aspect_opt_attr_sel">

          <div class="ui eight wide column" id="aspect1_opt_attr_sel">
            <div class="ui centered cards">

              <a class="ui card" id="aspect1_opt_attr1">
                <div class="ui content">
                  <div class="ui centered header">$aspect1_opt_attr1</div>
                </div>
              </a>

              <a class="ui card" id="aspect1_opt_attr2">
                <div class="ui content">
                  <div class="ui centered header">$aspect1_opt_attr2</div>
                </div>
              </a>

            </div>
          </div>

          <div class="ui eight wide column" id="aspect2_opt_attr_sel">
            <div class="ui centered cards">

              <a class="ui card" id="aspect2_opt_attr1">
                <div class="ui content">
                  <div class="ui centered header">$aspect2_opt_attr1</div>
                </div>
              </a>

              <a class="ui card" id="aspect2_opt_attr2">
                <div class="ui content">
                  <div class="ui centered header">$aspect2_opt_attr2</div>
                </div>
              </a>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
