<div class="ui row" id="aspect_attr_disp">

  <div class="ui info message" id="aspects_ancient_message" style="display:none">
    <div class="ui header">Ancestral Bloodline</div>
    This is a message describing what the Ancestral Bloodline talent is, and why it is being added
  </div>

  <table class="ui divided table attribute_selection">
    <tr>
      <th class="ui two wide"><div></div></th>

      <th class="ui one wide center aligned vertical_th">AGIL</th>

      <th class="ui one wide center aligned vertical_th">AWAR</th>

      <th class="ui one wide center aligned vertical_th">BRWN</th>

      <th class="ui one wide center aligned vertical_th">COOR</th>

      <th class="ui one wide center aligned vertical_th">INTL</th>

      <th class="ui one wide center aligned vertical_th">PERS</th>

      <th class="ui one wide center aligned vertical_th">WILL</th>
    </tr>

    <tr id="aspect_start_row">

      <th class="ui right aligned aspect_row_header">STARTING ATTRIBUTE VALUES</th>

      <td class="ui center aligned aspect_cell attr_start">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_agi_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_agi_btnup"
                  onclick="increment_attr( 'agility' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_agi_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_agi_btndn"
                  onclick="decrement_attr( 'agility' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_awa_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_awa_btnup"
                  onclick="increment_attr( 'awareness' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_awa_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_awa_btndn"
                  onclick="decrement_attr( 'awareness' )">
            <i class="ui toggle down icon">
            </i></button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_bra_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_bra_btnup"
                  onclick="increment_attr( 'brawn' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_bra_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_bra_btndn"
                  onclick="decrement_attr( 'brawn' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_coo_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_coo_btnup"
                  onclick="increment_attr( 'coordination' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_coo_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_coo_btndn"
                  onclick="decrement_attr( 'coordination' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_int_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_int_btnup"
                  onclick="increment_attr( 'intelligence' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_int_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_int_btndn"
                  onclick="decrement_attr( 'intelligence' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_per_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_per_btnup"
                  onclick="increment_attr( 'personality' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_per_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_per_btndn"
                  onclick="decrement_attr( 'personality' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>

      <td class="ui center aligned aspect_cell attr_start" style="padding:0">
        <div class="ui basic center aligned segment attr_start_seg" id="aspect_wil_start">
          <button class="ui top attached compact disabled icon button attr_inc_btn" id="attr_wil_btnup"
                  onclick="increment_attr( 'willpower' )">
            <i class="ui toggle up icon"></i>
          </button>
          <div class="ui basic compact center aligned segment attr_start_counter" id="attr_wil_counter">7</div>
          <button class="ui bottom attached compact icon button attr_dec_btn" id="attr_wil_btndn"
                  onclick="decrement_attr( 'willpower' )">
            <i class="ui toggle down icon"></i>
          </button>
        </div>
      </td>
    </tr>

    <tr id="aspect_best_row">
      <th class="ui right aligned aspect_row_header">BEST</th>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_agi_best"
          onclick="select_best( 'agility' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_awa_best"
          onclick="select_best( 'awareness' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_bra_best"
          onclick="select_best( 'brawn' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_coo_best"
          onclick="select_best( 'coordination' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_int_best"
          onclick="select_best( 'intelligence' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_per_best"
          onclick="select_best( 'personality' )"></td>

      <td class="ui center aligned aspect_cell aspect_best_sel" style="padding:0" id="aspect_wil_best"
          onclick="select_best( 'willpower' )"></td>
    </tr>

    <tr id="aspect_worst_row">
      <th class="ui right aligned aspect_row_header">WORST</th>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_agi_worst"
          onclick="select_worst( 'agility' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_awa_worst"
          onclick="select_worst( 'awareness' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_bra_worst"
          onclick="select_worst( 'brawn' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_coo_worst"
          onclick="select_worst( 'coordination' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_int_worst"
          onclick="select_worst( 'intelligence' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_per_worst"
          onclick="select_worst( 'personality' )"></td>

      <td class="ui center aligned aspect_cell aspect_worst_sel" style="padding:0" id="aspect_wil_worst"
          onclick="select_worst( 'willpower' )"></td>
    </tr>

    <tr id="aspect_opt1_row">
      <th class="ui right aligned aspect_row_header">OPTIONAL 1</th>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_agi_opt1"
          onclick="select_opt1( 'agility' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_awa_opt1"
          onclick="select_opt1( 'awareness' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_bra_opt1"
          onclick="select_opt1( 'brawn' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_coo_opt1"
          onclick="select_opt1( 'coordination' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_int_opt1"
          onclick="select_opt1( 'intelligence' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_per_opt1"
          onclick="select_opt1( 'personality' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt1_sel" style="padding:0" id="aspect_wil_opt1"
          onclick="select_opt1( 'willpower' )"></td>
    </tr>

    <tr id="aspect_opt2_row">
      <th class="ui right aligned aspect_row_header">OPTIONAL 2</th>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_agi_opt2"
          onclick="select_opt2( 'agility' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_awa_opt2"
          onclick="select_opt2( 'awareness' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_bra_opt2"
          onclick="select_opt2( 'brawn' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_coo_opt2"
          onclick="select_opt2( 'coordination' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_int_opt2"
          onclick="select_opt2( 'intelligence' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_per_opt2"
          onclick="select_opt2( 'personality' )"></td>

      <td class="ui center aligned aspect_cell aspect_opt2_sel" style="padding:0" id="aspect_wil_opt2"
          onclick="select_opt2( 'willpower' )"></td>
    </tr>

    <tr id="aspect_bonus_row">
      <th class="ui right aligned aspect_row_header">BONUS</th>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_agi_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_awa_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_bra_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_coo_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_int_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_per_bon">+0</td>

      <td class="ui center aligned aspect_cell attr_bon_sum" style="padding:0" id="attr_wil_bon">+0</td>
    </tr>

    <tr id="aspect_total_row">
      <th class="ui right aligned aspect_row_header">TOTAL</th>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_agi_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_awa_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_bra_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_coo_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_int_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_per_tot">7</td>

      <td class="ui center aligned aspect_cell attr_tot" style="padding:0" id="attr_wil_tot">7</td>
    </tr>
  </table>
</div>
