<h1 class="ui divided centered header">Select a homeland</h1>

<div class="ui centered cards">
  <% Lifepath::Homeland.find_each do |homeland|  %>

    <a class="ui card hl_card">
      <div class ="ui top attached content">

        <div class ="ui header hl_card_header">
          <%= homeland.name %>
        </div>

      </div>

      <div class="ui bottom attached content fluid two horizontal segments hl_card_details">
        <div class="ui left attached basic segment hl_card_talent">
          <%= homeland.talent.name %>
        </div>

        <% langs = homeland.parse_languages %>

        <% if langs.count == 1 %>

          <div class="ui right attached basic segment hl_card_lang">
            <%= langs[0] %>
          </div>

        <% else %>

          <select style = "padding:inhert;height:inherit" class="ui right attached basic segment dropdown hl_card_lang">
            <% langs.each do |lang|  %>

              <option><%= lang %></option>

            <% end %>
          </select>

        <% end %>

      </div>
    </a>

  <% end %>
</div>
