<h1 class="ui dividing header">Your Account Info</h1>

<p>username: <%= @user.name %> </p>
<p>email: <%= @user.email %> </p>
<p>id: <%= @user.id %> </p>

<%= link_to "Log out", logout_path, method: :delete %>
