
<h1 class="ui header">Your life is yet unwritten, by what path shall it be decided?<h1>

<div class="ui massive fluid two buttons newchar">
  <button class="ui yellow button">My life is my own, I shall decide!</button>
  <div class="or"></div>
  <button class="ui blue button">By Crom, let Fate decide!</button>
</div>
