// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =============
// GENERAL

#chargen-box {
  overflow: auto;
  max-height: 700px;
}


.secondary.pointing.menu.tabs.creation {
  border-bottom: 0;
  padding: 0 10% !important;
}

.active.tab.creation {
  border: 0 !important;
}

.tab.creation {
  font-size: 400%;
  padding: .1em !important;
}

.char_create_seg {
  width: 100%;
}

// =============
// HOMELAND

.hl_card_details {
  padding: 0 !important;
}

.hl_radio_label {
  padding: 0 1em 0;
}

input[type=radio][name=homelands] {
  visibility: hidden;
  display: none;
}

// input[type=radio]:checked + a.hl_card {
//   box-shadow: 0px 0px 0px 1px #D4D4D5, 0px 2px 0px 0px #21BA45, 0px 1px 3px 0px #D4D4D5;
// }

// =============
// ASPECTS

.ui.centered.dividing.header.aspect {
  padding-top: 3 !important;
  padding-bottom: 6 !important;
}

.aspect_radio_label {
  padding: 0 1em 0;
  cursor: pointer;
}

input[type=radio][name=aspects1] {
  visibility: hidden;
  display: none;
}

input[type=radio][name=aspects2] {
  visibility: hidden;
  display: none;
}

.aspect_menu_second {
  margin-left: -1 !important;
}

.aspect_mand_attr {
  padding-left: 1em;
}

.aspect_opt_attr {
  padding-left: 1em; // this doesn't work for some reason?
}

// =============
// CASTE

.caste_card{
  text-align: left;
}
.caste_menu{
  height: 100%;
}

// =============

// =============

// =============

// =============
