<%#
    locals: {
        <Lifepath::Nature> nature
    }
%>

<div id="ChargenNatureDescription" class="column">
    <div class="ui centered header">
        Description
    </div>

    <p class="<%# TODO %>">
        <%= nature.description %>
    </p>
</div>

<div id="ChargenNatureTalents" class="column">
    <div class="ui centered header">
        Select one talent
    </div>

    <%= render partial: "layouts/characters/lifepath/talent_selection", locals: { div_id: "ChargenNature", skills: [], pre_talents: [] } %> <!-- TODO what other locals? -->
</div>
