<div class="ui top main menu">
  <div class="ui container" id="main-menu-items">
    <!-- <%= link_to "ekliot", root_path, class: "ui header item" %> -->
    <div class="ui menu">
      <a href="#">
        HOME
      </a>
      <a href="#">
        ACCOUNT
      </a>
      <a href="#">
        ABOUT
      </a>
    </div>
  </div>
</div>
